*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(107, 228, 197);
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/img/nature-3362982_1920.jpg) no-repeat fixed center;
    background-size: cover;
}
.logo{
    font-family: sans-serif;
    color: #fff;
    font-weight: bolder;
    text-transform:uppercase;
    margin-left: 20px;

}
nav{
    width: 100%;
    height: 75px;
    background-color: rgb(187, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    background:transparent;
  

}
nav ul li{
    padding: 20px;
    font-family: sans-serif;
    display: inline-block;
    position: relative;
}
nav ul li a{
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}
nav ul li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;  
    text-align: center;
    width: 100%;
    border-top: 3px solid #fff;
    transition: 0.5s ease-in-out;
  
}

nav > ul > li > ul{
    left: 0;
    top:50px;
}
nav > ul > li > ul  > li ul{
    left: 80%;
    top:40px;
    border-top: 3px solid #fff;
    
}
nav ul li:hover> ul{
    opacity: 1;
    visibility: visible;

}
input{
    display: none;
}
label{
    width: 150px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    border: 1px solid #fff;
    color: #fff;
    display: none;
}
label span{
    font-family:sans-serif;
}
@media(max-width:768px){
    body{
        background-size: cover;
    }
    nav ul {
        position: absolute;
        top: 72px;
        left: -100%;
        width: 100%;
        transition: 0.8s linear;
    }
    nav ul li{
        display: block;
    }
    label{
        display: flex;
        margin: 10px;
    }
    nav ul li ul{
        width: max-content;
        z-index: 1;
    }
input:checked ~ #menu{
    left:0px;
}
input:checked ~ nav ul li ul{
    left:100px;
} 
nav > ul > li > ul {
    left: 32%;
    top:40px;
    border-left: 1px solid #fff;
    border-top: none;
    text-align: left;
}
nav > ul > li > ul  > li ul{
    left: 25%;
    top:40px;
    border-left:1px solid #fff;
    border-top: none;
    text-align: left;
}
}